.login__hero {
  margin-top: 120px !important;
}

.login__header {
  font-size: 23px;
}

.faq__box {
  margin: 0 10px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none;
}
.otp-input {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
.fs-30 {
  font-size: 30px;
}
.otp_screen_logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Reset__header {
  color: #000000;
  font-weight: 600;
}
.Reset_Para {
  margin: 10px;
}
.color-green {
  color: green;
  font-weight: 600;
}
.reset__icon {
  margin-top: -30px;
  /* position: absolute;
      right: 52px;
      top: 26%; */
}

.password-eye {
  position: absolute;
  right: 13%;
  top: 13px;
}

.password-eye-view {
  position: absolute;
  right: 13%;
  top: 13px;
}
.otpscreen input {
  width: 60px !important;
  text-align: center;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid rgb(130, 138, 156);
  border-radius: 3px;
  height: 60px !important;
}

.otp-card {
  min-height: 400px;
}

.container-otp {
  max-width: 700px;
}

.letters-space {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}
.spinner-logo {
  height: 75px;
  width: 75px;
  position: absolute;
  left: 42%;
  color: aqua;
  top: 14px;
}

.spinner-logo-otp {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 44%;
  color: aqua;
  top: 14px;
}
.mt_42 {
  margin-top: 42px;
}
.forgot_link {
  cursor: pointer;
  color: blue;
}
