.modal-colse-btn-black{
    border: none;
    background: black;
    color: white;
    border-radius: 50%;
}
.modal-header-class{
    display: flex;
    justify-content: end;
}
.add-bank-modal-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.add-bank-select-method{
    color: #51566B;
    font-weight: 400;
}
.add-bank-radio-container{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}
.add-deposit-radio-container{
    margin-top: 10px;
    font-weight: bold;
    
}
.add-bank-modal-body{
    padding: 20px;
}
.add-bank-modal-bottom-btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add-bank-modal-bottom-btn{
    border: none;
    width: 45%;
    border-radius: 50px;
    height: 40px;
    font-weight: bold;
}
.add-bank-electric-blue{
    background: #58F2F0;
}
.add-bank-modal-form-label-container{
    margin: 10px 0px;
}
.plaid-input-div-container{
    position: absolute;
    right: 1%;
    top: 45%;
}
.plain-input-btn{
    border: none;
    background-color: #fff;
}
.fetch-btn-container{
    position: relative;
}

.deposit__field__usd {
    width: 100%;
    padding: 0.4rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.3;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }