.user-image{
    height: 125px;
    width: 125px;
    background-color: #f6f6f6;
    padding: 3px;
}
.user-title{
font-size:14px;
font-weight:700;
}
.user-sub-title{
    font-size:14px;

}
.cp{
    cursor: pointer;
}