.view-user-list>div>label{
    font-size: 17px;
}
.view-user-list>div.span{
    font-size: 17px;
}
.view-user-list>div{
    margin: 25px 0px;
}

.view-user-title{
    margin-left: 10px;
}

.view-user-copy{
   font-size: 20px;
}
.balcklist-icon{
    font-size: 40px;
}
.color-green {
    color: green;
}
.view-user-table{
    margin-top: -90px;
}
.view-user-block{
    word-break: break-all;
}